form {
  display: flex;
  align-items: start;
  gap: 20px;
}

form label {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

form label span {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-colr-secondary);
}

form label input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--border);
}

form button {
  background-color: var(--background-secondary);
  color: white;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

form button:disabled {
  opacity: 0.5;
  cursor: no-drop;
}
