.card-day {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid var(--border);
  padding: 30px 30px;
  border-radius: 10px;
  background-color: var(--background-secondary);
}

.card-day--title {
  font-size: 3rem;
  font-weight: 400;
  color: var(--text-color);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-header--info h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.card-header--info h2 span {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color-secondary);
  margin-left: 10px;
}

.card-header--info p {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--text-color-secondary);
}

.card-descriptions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.card-descriptions p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  font-weight: 400;
  color: var(--text-color-secondary);
}

.card-description--temperature p {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  font-size: 5rem;
  margin: 0px;
}
