.main {
  padding: 20px 20px;
}

.current-day {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.current-day--title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-color);
  margin: 0;
}

.forecast-days {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  width: 100%;
}
